/* still to decide */

:root {
  --nav-font-colour: rgb(44, 40, 40);
}
body {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation__container {
  display: flex;
  justify-content: space-between;
}

.navigation__menu {
  list-style: none;
}

.nav__link {
  color: var(--nav-font-colour);
  text-decoration: none;
}
.nav__link:visited {
  color: var(--nav-font-colour);
}

.maincontainer {
  width: 75%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  /* align-items: flex-end; */
}
.sectioncontainer {
  padding: 2em;
}

footer {
  width: 75%;
  padding: 2.5em;
}
