/* still to decide */

:root {
  --nav-font-colour: rgb(44, 40, 40);
  --light-blue-colour: #00acee;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 75%;
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: var(--light-blue-colour);
}

.navigation__container {
  display: flex;
  justify-content: space-between;
}

.navigation__menu {
  list-style: none;
}

.nav__link {
  color: var(--nav-font-colour);
}
.nav__link:visited {
  color: var(--nav-font-colour);
}

.ourteam {
  height: 100%;
}

.team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 3rem;
}

.team__member {
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgb(187, 212, 187, 0.2),
    0 5px 10px rgb(147, 180, 187, 0.4);
}

.team__member--name {
  text-align: center;
}

.team__member p {
  padding-left: 1rem;
  padding-right: 1rem;
}

.img__penguin {
  display: block;
  border: solid 1px red;
  border-radius: 50%;
  width: 40%;
  margin: 10px auto 5px auto;
}

.headercontainer {
  background-image: url(/media/vulpe-gri-B-xx3i5YGJc-unsplash_c.jpg);
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  padding: 2em;
}

.sectioncontainer {
  padding: 2em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form_1,
.form_2 {
  display: block;
  width: 100%;
  margin: auto;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(200, 27, 20, 0.2),
    0 5px 10px rgba(201, 179, 189, 0.4);
}

.form__team {
  margin-top: 3rem;
}

label {
  width: 10rem;
  float: left;
  margin-right: 1rem;
}

.robot__request {
  width: 20rem;
}

.footer {
  flex: 0 0 50px;
  min-height: 10%;
}

.sn__container {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.sn__list {
  list-style: none;
  display: flex;
  flex: row;
  margin: 0 7px 0 0;
}

.sn__list a:visited {
  color: var(--nav-font-colour);
}

.sn__list i {
  color: #00acee;
  margin-right: 5px;
}

/* SB: still to add additional style for ul */
/* Style for form */
input:not([type='checkbox']):not([type='radio']),
button,
textarea {
  font: inherit;
  color: inherit;
}

textarea {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

[aria-invalid='true'] {
  box-shadow: 0 0 0 3px red;
}
[aria-invalid='false'] {
  box-shadow: 0 0 0 3px green;
}
